@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
/*Modelo Padrão*/
html {
  box-sizing: border-box;
}
body {
  text-align: center;
  background-image: url("../Imagens/Home/Fundo_Site.png");
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.Biografias {
  display: flex;
  justify-content: center;
}
.Biografias div {
  border: 1px solid black;
  margin: 0 15px 0 0;
  text-align: center;
  width: 300px;
}
.Imagem_Biografia_Olavo_Bilac {
  width: 67.5%;
}
.Imagem_Biografia_Raimundo_Correa {
  width: 63.3%;
}
.Alberto_Oliveira_Biografia button {
  background-image: linear-gradient(
    90deg,
    #e3d624 25%,
    #5fd143 50%,
    #d64d0d 75%
  );
}
.Raimundo_Correa_Biografia button {
  background-image: linear-gradient(
    90deg,
    #434b4d 25%,
    #62514d 50%,
    #81575d 75%,
    #985e3b 100%
  );
}
.Olavo_Bilac_Biografia button {
  background-image: linear-gradient(
    90deg,
    #96c66a 10%,
    #db9e88 60%,
    #739dd4 80%
  );
}
h2,
h1 {
  font-family: "Libre Baskerville";
  font-size: 30px;
}
h1 {
  font-size: 40px;
}
details {
  font-family: Garamond;
  font-size: 15px;
}
.Triade_Parsaniana {
  border: 1px solid black;
  width: 1200px;
  margin: auto;
  margin-top: 15px;
  background-color: white;
}
.Biografia_Margin {
  margin: 0 0 10px 0;
}
/*Tela de 1110px*/
@media (max-width: 1110px) {
  body {
    transform: scale(0.9);
    transform-origin: top left;
    width: 105vw;
    background-size: 100%;
  }
}

/*Tela de LapTop Comum*/
@media (max-width: 1050px) {
  body {
    transform: scale(0.7);
    transform-origin: top left;
    width: 145vw;
    background-size: 100%;
  }
}

/*Tela de Table Comum*/
@media (max-width: 800px) {
  body {
    transform: scale(0.6);
    transform-origin: top left;
    width: 170vw;
    background-size: 110%;
  }
}

/*Tela de 620px*/
@media (max-width: 620px) {
  body {
    transform: scale(0.5);
    transform-origin: top left;
    width: 200vw;
    background-size: 100%;
  }
}

/*Tela de 530px*/
@media (max-width: 530px) {
  body {
    transform: scale(0.45);
    transform-origin: top left;
    width: 230vw;
    background-size: 110%;
  }
}

/*Tela de 460px*/
@media (max-width: 460px) {
  body {
    transform: scale(0.43);
    transform-origin: top left;
    width: 250vw;
    background-size: 110%;
  }
}

/*Tela de Celular Comum Grande*/
@media (max-width: 430px) {
  body {
    transform: scale(0.4);
    transform-origin: top left;
    width: 160vh;
    background-size: 120%;
  }
}

/*Tela de Celular Comum Medio*/
@media (max-width: 380px) {
  body {
    transform: scale(0.3);
    transform-origin: top left;
    width: 178vh;
    background-size: 110%;
  }
}

/*Tela de Celular Comum Pequeno*/
@media (max-width: 330px) {
  body {
    transform: scale(0.31);
    transform-origin: top left;
    width: 156vh;
    background-size: 130%;
  }
}
