/*Faz com que seja escondida a parte onde contem os botões para download, ler, ouvir*/
/*Poema1*/
.Poemas_Oculto1 {
  display: none;
}
/*Poema2*/
.Poemas_Oculto2 {
  display: none;
}
/*Poema3*/
.Poemas_Oculto3 {
  display: none;
}
/*Poema4*/
.Poemas_Oculto4 {
  display: none;
}
/*Poema5*/
.Poemas_Oculto5 {
  display: none;
}
/*Poema6*/
.Poemas_Oculto6 {
  display: none;
}
/*Poema7*/
.Poemas_Oculto7 {
  display: none;
}
/*Poema8*/
.Poemas_Oculto8 {
  display: none;
}
/*Poema9*/
.Poemas_Oculto9 {
  display: none;
}
/*Poema10*/
.Poemas_Oculto10 {
  display: none;
}
/*Poema11*/
.Poemas_Oculto11 {
  display: none;
}
/*Poema12*/
.Poemas_Oculto12 {
  display: none;
}
/*Poema13*/
.Poemas_Oculto13 {
  display: none;
}
/*Poema14*/
.Poemas_Oculto14 {
  display: none;
}
/*Poema15*/
.Poemas_Oculto15 {
  display: none;
}
/*Poema16*/
.Poemas_Oculto16 {
  display: none;
}
/*Poema17*/
.Poemas_Oculto17 {
  display: none;
}
/*Poema18*/
.Poemas_Oculto18 {
  display: none;
}
/*Poema19*/
.Poemas_Oculto19 {
  display: none;
}
/*Poema20*/
.Poemas_Oculto20 {
  display: none;
}
/*Poema21*/
.Poemas_Oculto21 {
  display: none;
}
/*Poema22*/
.Poemas_Oculto22 {
  display: none;
}
/*Poema23*/
.Poemas_Oculto23 {
  display: none;
}
/*Poema24*/
.Poemas_Oculto24 {
  display: none;
}
/*Poema25*/
.Poemas_Oculto25 {
  display: none;
}
/*Poema26*/
.Poemas_Oculto26 {
  display: none;
}
/*Poema27*/
.Poemas_Oculto27 {
  display: none;
}
/*Poema28*/
.Poemas_Oculto28 {
  display: none;
}
/*Poema29*/
.Poemas_Oculto29 {
  display: none;
}
/*Poema30*/
.Poemas_Oculto30 {
  display: none;
}
/*Poema31*/
.Poemas_Oculto31 {
  display: none;
}
/*Poema32*/
.Poemas_Oculto32 {
  display: none;
}
/*Poema33*/
.Poemas_Oculto33 {
  display: none;
}
/*Poema34*/
.Poemas_Oculto34 {
  display: none;
}
/*Poema35*/
.Poemas_Oculto35 {
  display: none;
}
/*Poema36*/
.Poemas_Oculto36 {
  display: none;
}
/*Poema37*/
.Poemas_Oculto37 {
  display: none;
}
/*Poema38*/
.Poemas_Oculto38 {
  display: none;
}
/*Poema39*/
.Poemas_Oculto39 {
  display: none;
}
/*Poema40*/
.Poemas_Oculto40 {
  display: none;
}
/*Poema41*/
.Poemas_Oculto41 {
  display: none;
}
/*Poema42*/
.Poemas_Oculto42 {
  display: none;
}
/*Poema43*/
.Poemas_Oculto43 {
  display: none;
}
/*Poema44*/
.Poemas_Oculto44 {
  display: none;
}
/*Poema45*/
.Poemas_Oculto45 {
  display: none;
}
/*Poema46*/
.Poemas_Oculto46 {
  display: none;
}
/*Poema47*/
.Poemas_Oculto47 {
  display: none;
}
/*Poema48*/
.Poemas_Oculto48 {
  display: none;
}
/*Poema49*/
.Poemas_Oculto49 {
  display: none;
}
/*Poema50*/
.Poemas_Oculto50 {
  display: none;
}
/*Poema51*/
.Poemas_Oculto51 {
  display: none;
}
/*Poema52*/
.Poemas_Oculto52 {
  display: none;
}
/*Poema53*/
.Poemas_Oculto53 {
  display: none;
}
/*Poema54*/
.Poemas_Oculto54 {
  display: none;
}
/*Poema55*/
.Poemas_Oculto55 {
  display: none;
}
/*Poema56*/
.Poemas_Oculto56 {
  display: none;
}
/*Poema57*/
.Poemas_Oculto57 {
  display: none;
}
/*Poema58*/
.Poemas_Oculto58 {
  display: none;
}
/*Poema59*/
.Poemas_Oculto59 {
  display: none;
}
/*Poema60*/
.Poemas_Oculto60 {
  display: none;
}
/*Foco de botão*/
.Poemas button:focus + .Poemas_Oculto1 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto2 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto3 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto4 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto5 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto6 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto7 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto8 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto9 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto10 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto11 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto12 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto13 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto14 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto15 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto16 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto17 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto18 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto19 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto20 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto21 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto22 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto23 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto24 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto25 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto26 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto27 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto28 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto29 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto30 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto31 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto32 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto33 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto34 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto35 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto36 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto37 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto38 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto39 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto40 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto41 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto42 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto43 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto44 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto45 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto46 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto47 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto48 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto49 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto50 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto51 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto52 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto53 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto54 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto55 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto56 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto57 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto58 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto59 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}
.Poemas button:focus + .Poemas_Oculto60 {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 5;
}

/*Desoculta quando uma dessas condições são atendidas: Botão do poema está com foco, o conteiner Poemas_Ocultos está com foco, etc...*/
.Poemas button:hover + .Poemas_Oculto1,
.Poemas_Oculto1:hover,
.Poema_Items:hover + .Poemas_Oculto1,
.Poemas_Oculto1:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto2,
.Poemas_Oculto2:hover,
.Poema_Items:hover + .Poemas_Oculto2,
.Poemas_Oculto2:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto3,
.Poemas_Oculto3:hover,
.Poema_Items:hover + .Poemas_Oculto3,
.Poemas_Oculto3:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto4,
.Poemas_Oculto4:hover,
.Poema_Items:hover + .Poemas_Oculto4,
.Poemas_Oculto4:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto5,
.Poemas_Oculto5:hover,
.Poema_Items:hover + .Poemas_Oculto5,
.Poemas_Oculto5:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto6,
.Poemas_Oculto6:hover,
.Poema_Items:hover + .Poemas_Oculto6,
.Poemas_Oculto6:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto7,
.Poemas_Oculto7:hover,
.Poema_Items:hover + .Poemas_Oculto7,
.Poemas_Oculto7:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto8,
.Poemas_Oculto8:hover,
.Poema_Items:hover + .Poemas_Oculto8,
.Poemas_Oculto8:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto9,
.Poemas_Oculto9:hover,
.Poema_Items:hover + .Poemas_Oculto9,
.Poemas_Oculto9:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto10,
.Poemas_Oculto10:hover,
.Poema_Items:hover + .Poemas_Oculto10,
.Poemas_Oculto10:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto11,
.Poemas_Oculto11:hover,
.Poema_Items:hover + .Poemas_Oculto11,
.Poemas_Oculto11:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto12,
.Poemas_Oculto12:hover,
.Poema_Items:hover + .Poemas_Oculto12,
.Poemas_Oculto12:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto13,
.Poemas_Oculto13:hover,
.Poema_Items:hover + .Poemas_Oculto13,
.Poemas_Oculto13:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto14,
.Poemas_Oculto14:hover,
.Poema_Items:hover + .Poemas_Oculto14,
.Poemas_Oculto14:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto15,
.Poemas_Oculto15:hover,
.Poema_Items:hover + .Poemas_Oculto15,
.Poemas_Oculto15:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto16,
.Poemas_Oculto16:hover,
.Poema_Items:hover + .Poemas_Oculto16,
.Poemas_Oculto16:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto17,
.Poemas_Oculto17:hover,
.Poema_Items:hover + .Poemas_Oculto17,
.Poemas_Oculto17:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto18,
.Poemas_Oculto18:hover,
.Poema_Items:hover + .Poemas_Oculto18,
.Poemas_Oculto18:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto19,
.Poemas_Oculto19:hover,
.Poema_Items:hover + .Poemas_Oculto19,
.Poemas_Oculto19:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto20,
.Poemas_Oculto20:hover,
.Poema_Items:hover + .Poemas_Oculto20,
.Poemas_Oculto20:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto21,
.Poemas_Oculto21:hover,
.Poema_Items:hover + .Poemas_Oculto21,
.Poemas_Oculto21:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto22,
.Poemas_Oculto22:hover,
.Poema_Items:hover + .Poemas_Oculto22,
.Poemas_Oculto22:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto23,
.Poemas_Oculto23:hover,
.Poema_Items:hover + .Poemas_Oculto23,
.Poemas_Oculto23:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto24,
.Poemas_Oculto24:hover,
.Poema_Items:hover + .Poemas_Oculto24,
.Poemas_Oculto24:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto25,
.Poemas_Oculto25:hover,
.Poema_Items:hover + .Poemas_Oculto25,
.Poemas_Oculto25:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto26,
.Poemas_Oculto26:hover,
.Poema_Items:hover + .Poemas_Oculto26,
.Poemas_Oculto26:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto27,
.Poemas_Oculto27:hover,
.Poema_Items:hover + .Poemas_Oculto27,
.Poemas_Oculto27:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto28,
.Poemas_Oculto28:hover,
.Poema_Items:hover + .Poemas_Oculto28,
.Poemas_Oculto28:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto29,
.Poemas_Oculto29:hover,
.Poema_Items:hover + .Poemas_Oculto29,
.Poemas_Oculto29:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto30,
.Poemas_Oculto30:hover,
.Poema_Items:hover + .Poemas_Oculto30,
.Poemas_Oculto30:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto31,
.Poemas_Oculto31:hover,
.Poema_Items:hover + .Poemas_Oculto31,
.Poemas_Oculto31:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto32,
.Poemas_Oculto32:hover,
.Poema_Items:hover + .Poemas_Oculto32,
.Poemas_Oculto32:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto33,
.Poemas_Oculto33:hover,
.Poema_Items:hover + .Poemas_Oculto33,
.Poemas_Oculto33:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto34,
.Poemas_Oculto34:hover,
.Poema_Items:hover + .Poemas_Oculto34,
.Poemas_Oculto34:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto35,
.Poemas_Oculto35:hover,
.Poema_Items:hover + .Poemas_Oculto35,
.Poemas_Oculto35:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto36,
.Poemas_Oculto36:hover,
.Poema_Items:hover + .Poemas_Oculto36,
.Poemas_Oculto36:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto37,
.Poemas_Oculto37:hover,
.Poema_Items:hover + .Poemas_Oculto37,
.Poemas_Oculto37:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto38,
.Poemas_Oculto38:hover,
.Poema_Items:hover + .Poemas_Oculto38,
.Poemas_Oculto38:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto39,
.Poemas_Oculto39:hover,
.Poema_Items:hover + .Poemas_Oculto39,
.Poemas_Oculto39:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto40,
.Poemas_Oculto40:hover,
.Poema_Items:hover + .Poemas_Oculto40,
.Poemas_Oculto40:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto41,
.Poemas_Oculto41:hover,
.Poema_Items:hover + .Poemas_Oculto41,
.Poemas_Oculto41:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto42,
.Poemas_Oculto42:hover,
.Poema_Items:hover + .Poemas_Oculto42,
.Poemas_Oculto42:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto43,
.Poemas_Oculto43:hover,
.Poema_Items:hover + .Poemas_Oculto43,
.Poemas_Oculto43:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto44,
.Poemas_Oculto44:hover,
.Poema_Items:hover + .Poemas_Oculto44,
.Poemas_Oculto44:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto45,
.Poemas_Oculto45:hover,
.Poema_Items:hover + .Poemas_Oculto45,
.Poemas_Oculto45:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto46,
.Poemas_Oculto46:hover,
.Poema_Items:hover + .Poemas_Oculto46,
.Poemas_Oculto46:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto47,
.Poemas_Oculto47:hover,
.Poema_Items:hover + .Poemas_Oculto47,
.Poemas_Oculto47:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto48,
.Poemas_Oculto48:hover,
.Poema_Items:hover + .Poemas_Oculto48,
.Poemas_Oculto48:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto49,
.Poemas_Oculto49:hover,
.Poema_Items:hover + .Poemas_Oculto49,
.Poemas_Oculto49:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto50,
.Poemas_Oculto50:hover,
.Poema_Items:hover + .Poemas_Oculto50,
.Poemas_Oculto50:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto51,
.Poemas_Oculto51:hover,
.Poema_Items:hover + .Poemas_Oculto51,
.Poemas_Oculto51:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto52,
.Poemas_Oculto52:hover,
.Poema_Items:hover + .Poemas_Oculto52,
.Poemas_Oculto52:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto53,
.Poemas_Oculto53:hover,
.Poema_Items:hover + .Poemas_Oculto53,
.Poemas_Oculto53:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto54,
.Poemas_Oculto54:hover,
.Poema_Items:hover + .Poemas_Oculto54,
.Poemas_Oculto54:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto55,
.Poemas_Oculto55:hover,
.Poema_Items:hover + .Poemas_Oculto55,
.Poemas_Oculto55:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto56,
.Poemas_Oculto56:hover,
.Poema_Items:hover + .Poemas_Oculto56,
.Poemas_Oculto56:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto57,
.Poemas_Oculto57:hover,
.Poema_Items:hover + .Poemas_Oculto57,
.Poemas_Oculto57:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto58,
.Poemas_Oculto58:hover,
.Poema_Items:hover + .Poemas_Oculto58,
.Poemas_Oculto58:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto59,
.Poemas_Oculto59:hover,
.Poema_Items:hover + .Poemas_Oculto59,
.Poemas_Oculto59:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
.Poemas button:hover + .Poemas_Oculto60,
.Poemas_Oculto60:hover,
.Poema_Items:hover + .Poemas_Oculto60,
.Poemas_Oculto60:focus {
  display: flex;
  position: absolute;
  border: 1px blue solid;
  transform: translate(7px, 38px);
  z-index: 10;
}
